{% extends "layouts/base.html" %}

{% block title %} Page Blank {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">

                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10">About Us</h5>
                            </div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="javascript:">About Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->

            <div class="main-body m-3">
                <h2 align="center" class="header-capstone">Maltepe University Software Engineering Capstone Project</h2>
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->

                    <div class="row mt-5">
                    <div class="col-md-6 card-deck">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Mustafa Tayyip BAYRAM</h5>
                                </div>
                                <div class="card-body">
                                    <p class="text-dark mb-1">
                                        Student ID: 1707006007
                                    </p>
                                </div>
                            </div>
                    </div>
                    <div class="col-md-6 card-deck">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Furkan ÖCALAN</h5>
                                </div>
                                <div class="card-body">
                                    <p class="text-dark mb-1">
                                        Student ID: 1707006003
                                    </p>
                                </div>
                            </div>
                    </div>
                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
